{% extends 'posts/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}




{% block post %}
<div class="news_posts">

	<!-- News Post -->
	{% for obj in queryset %}
	<div class="news_post">
		<div class="news_post_title_container d-flex flex-row align-items-center justify-content-start">
			
			<div>            
				<div class="news_post_date_container d-flex flex-column align-items-center justify-content-center">
					<div class="news_post_day">{{ obj.publish|date:"d" }}</div>
					<div class="news_post_month">{{ obj.publish|date:"M 'y" }}</div>
				</div>
			</div>
			<div class="news_post_title_content">
				<div class="news_post_title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></div>
				<div class="news_post_info">
					<ul>
						<li>By <a href="{% url 'posts:list' %}?u={{ obj.user.username }}">{{ obj.user.get_full_name }}</a></li>
						<li>in <a href="{% url 'posts:category' slug=obj.category.slug %}">{{ obj.category }}</a></li>
						<li><a href="#">{{ obj.comments.count }} Comment{{ obj.comments|pluralize }}</a></li>
						<li class="text-danger">{% if obj.draft %}<span>Staff only: Draft</span>{% endif %} {% if obj.publish > today %}<span>Staff Only: Future Post</span>{% endif %}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="news_post_image"><a href="{{ obj.get_absolute_url }}">{% if obj.image %}<img src="{{ obj.image.url }}" alt="">{% else %}<img src="{% static 'images/news.jpg' %}" alt="">{% endif %}</a></div>
		<div class="news_post_text">
			<p>{{ obj.content|truncatechars_html:220 }}</p>
		</div>
	</div>
	{% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
	<ul>
		{% if queryset.has_previous %}
        <li class="previous"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&larr; Previous</a></li>
      	{% else %}
        <li class="previous disabled"><a>&larr; Previous</a></li>
      	{% endif %}
      	<li>|</li>
      	{% if queryset.has_next %}
        <li class="next"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next &rarr;</a></li>
      	{% else %}
        <li class="next disabled"><a>Next &rarr;</a></li>
      	{% endif %}
	</ul>
</div>
{% endblock post %}

