{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load crispy_forms_tags %}



        <!-- Page Content -->
        <div id="page-wrapper">
            {% block content %}
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Change Password</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <a href="/accounts/logout/" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline waves-effect waves-light">Sign Out</a>
                        <ol class="breadcrumb">
                            <li><a href="/dashboard/">Dashboard</a></li>
                            <li class="active">Change Password</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div class="white-box">
                            <h2 class="text-center">Change Password</h2><br>
                            <form action="{% url 'account_change_password' %}" method="POST" class="form-horizontal form-material">{% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form|crispy }}
                                    </div>                                
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success btn-block">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            {% endblock content %}
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2019 &copy; Homelink.ng </footer>
        </div>
        <!-- /#page-wrapper -->
   

{% block scripts %}
    <!-- jQuery -->
    <script src="{% static 'dashboard/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'dashboard/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dashboard/js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
{% endblock scripts %}